@font-face {
    font-family: Bookmania;
    src: url('../fonts/Bookmania.otf');
}

@font-face {
    font-family: MrsEaves;
    src: url('../fonts/MrsEaves.ttf');
}

@font-face {
    font-family: ScalaSans;
    src: url('../fonts/ScalaSans.otf');
}

body {
    padding: 8rem 5rem 5rem 5rem;
    background: #fff url('../images/background.jpg') no-repeat;
    background-size: cover;

    font-family: 'Bookmania', serif;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #58170d;
    font-family: 'MrsEaves', serif;
}

a {
    color: #c9ae6b;
}

a:focus,
a:hover {
    color: #c9ae6b;
}

.bg-inverse {
    background-color: #373a3c;
}

.container {
    padding: 5rem;
    background-color: #fcfcf5;
}

/* -----------------------------------
    Advanced Options
   ----------------------------------- */

#accordion {
    padding: 2rem;
    border-right: 1px solid #58170d;
    border-left: 1px solid #58170d;
    background-color: #fff;
    font-family: 'ScalaSans', sans-serif;
    font-size: 0.9em;
}

[data-toggle="collapse"] i:before {
    content: "\f106";
}

[data-toggle="collapse"].collapsed i:before {
    content: "\f107";
}

.panel-title a {
    color: #58170d;
    font-family: 'ScalaSans', sans-serif;
}

#advancedOptions legend {
    border-bottom: 1px solid #c9ae6b;
    color: #58170d;
    font-family: 'MrsEaves', serif;
}

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #c9ae6b;
    color: #fcfcf5;
}

.custom-control-input:focus ~ .custom-control-indicator {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-control-indicator {
    background-color: #58170d;
}

/* -----------------------------------
    The Calculator Table
   ----------------------------------- */

.table td,
.table th {
    border-top: 1px solid #c9ae6b;
}

.table thead th {
    border-bottom: 3px solid #c9ae6b;
}

.form-control {
    color: #373a3c;
    background-color: #fff;
    border: 1px solid #c9ae6b;
}

/* -----------------------------------
    Racial Information
   ----------------------------------- */

.bg-info {
    padding: 2rem;
    border-top: 2px solid #373a3c;
    border-bottom: 2px solid #373a3c;
    background-color: #c2ccce !important;
    font-size: 1rem;
}

.bg-info,
.bg-info h2,
.bg-info h3,
.bg-info h4 {
    color: #373a3c !important;
    font-family: 'ScalaSans', sans-serif;
}

.panel-title,
.bg-info h2,
.bg-info h3,
.bg-info h4 {
    text-transform: uppercase;
}

/* -----------------------------------
    Other: Buttons
   ----------------------------------- */

.btn-primary {
    color: #373a3c;
    background-color: #c9ae6b;
    border: none;
    font-size: 1.2rem;
}

.btn-primary:focus,
.btn-primary:hover {
    color: #fcfcf5;
    background-color: #c9ae6b;
}

.btn-secondary {
    margin-left: 1em;
    color: #373a3c;
    background-color: #c2ccce;
    border: none;
    font-size: 1.2rem;
}

.btn-secondary:focus,
.btn-secondary:hover {
    color: #fcfcf5;
    background-color: #c2ccce;
}